table{
  border: 1px solid black;
}
.flex-tr{
  display: flex;
  flex-wrap: wrap;
}

table td {
  border: none;
}

.blue{
  background-color: rgb(145,211,227);
  width: 112px;
}
.font18{
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
}
.font36{
  vertical-align: top;
  font-size: 36px;
  font-weight: bold;
}
.font14{
  font-size: 14px;
}
.fontbottom{
  font-size: 18px;
  text-align: right;
  font-weight: bold;
}
.font14right{
   text-align: right;
   font-size: 14px;
}

.yellow{
  background-color: rgb(242,228,65);
  width: 113px;
}
.font18yellow{
  vertical-align:top;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}
.fontbottomyellow{
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}

.pink{
  background-color: rgb(227,143,158);
  width: 113px;
}

.green{
  background-color: rgb(180,196,73);
  width: 113px;
  height: 75px;
}
.green td{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.topgreen{
  vertical-align:top;
}
.bottomgreen{
  vertical-align:bottom;
}
.font36rf{
  vertical-align: top;
  text-align: right;
  font-size: 36px;
  font-weight: bold;
}